# Avoid accidental Sketch file upload 
###############################################
## Please do not remove line 5 - thanks! 🙂 ##
###############################################
*.sketch

# Avoid accidental XD or Figma upload if you convert the design file
#######################################################
## Please do not remove lines 11 and 12 - thanks! 🙂 ##
#######################################################
*.xd
*.fig

# Avoid your project being littered with annoying .DS_Store files!
.DS_Store

.prettierignore



How many team members can I invite?
  You can invite up to 2 additional users on the Free plan. There is no limit on 
  team members for the Premium plan.

  What is the maximum file upload size?
  No more than 2GB. All files in your account must fit your allotted storage space.

  How do I reset my password?
  Click “Forgot password” from the login page or “Change password” from your profile page.
  A reset link will be emailed to you.

  Can I cancel my subscription?
  Yes! Send us a message and we’ll process your request no questions asked.

  Do you provide additional support?
  Chat and email support is available 24/7. Phone lines are open during normal business hours.